<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>MuseumApp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/css/detailstyle.css">

</head>
<body>

<div class="wrapper">

  <a href="home"class="back-btn"> <img src="images/arrow.png" alt="back" wiidth="20px" height="50px"> </a>

    <div class="head">
      <h1>MoMA</h1>
      <p>Museum of Modern Art</p>
    </div>



       <div class="Showcase">
         <h1>Félix Fénéon</h1>
         <h2>The Anarchist and the Avant-Garde from signac to matisse and beyond</h2>
        <img src="images/009.png" alt="img" height="350" width="90%">
      </div>


</div>

  <script  src="./script.js"></script>

</body>
</html>
