<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>MuseumApp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/css/homestyle.css">

</head>
<body>

<div class="wrapper">


    <div class="head">
      <h1>MoMA</h1>
      <p>Museum of Modern Art</p>
    </div>



       <a href="detail09">
       <div class="Showcase">
       <h1>Showcase : Félix Fénéon</h1>
        <p>The Anarchist and the Avant-Garde — From Signac to Matisse and Beyond</p>
        <img src="images/felix.jpg" alt="Smiley face" height="200" width="350">
      </div>
      </a>

      <a href="collection">
        ⠀
      <div class="Collection">
          <h1>The Art Collection</h1>
          <p>A series of our 10 finest artworks</p>
          <img src="images/Collection.jpg" alt="Smiley face" height="200" width="350">
      </div>
      </a>

      <a href="contact">
        ⠀
      <div class="contact">
          <h1>contact</h1>
          <p>MoMA 11 West 53 Street, Manhattan</p>
      </div>
      </a>

</div>

  <script  src="./script.js"></script>

</body>
</html>
