@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

body {
  background: #1f252d;
}

.wrapper {
  height: 650px;
  width: 350px;
  border-radius: 15px;
  background: white;
  position: relative;
  margin: 20px auto 0;
}

.back-btn {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  height: 70px;
  width: 55px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 45px;
}
.back-btn:hover {
  opacity: 0.8;
}
.head{
  padding-top: 5px;
}
.head h1{
  line-height: 45px;
  color: black;
}
.head p{
  margin: 0;
  line-height:1px;
  padding: 0;
  text-align: center;
}

.contact {
  height: 550px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 50px;
  background-color: #D4C5AF;
}
.contact h1{
    padding-top: 20px;
  text-align: center;
  line-height: 30px;
}
.contact p{
  text-align: center;
}
h1 {

  color: black;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  line-height: 70px;
}

form{
  text-align: center;
}
